# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# TODO: Review if these should be ignored by default
# /sdk-config.ts

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Local Firebaser Emulator Data
.firebase/emulators/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
database-debug.log
*.snapshot

# Firebase config files that might contain sensitive information if not handled carefully
# firebase-service-account-key.json # Or any specific name you use for your service account key

# Crashlytics
crashlytics.properties
